[submodule "LinaEngine/vendor/glad_submodule"]
	path = LinaEngine/vendor/glad_submodule
	url = https://github.com/Dav1dde/glad
	ignore = untracked
[submodule "LinaEngine/vendor/glfw_submodule"]
	path = LinaEngine/vendor/glfw_submodule
	url = https://github.com/glfw/glfw
	ignore = untracked
