<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDownloadsFolderUsageDescription</key>
	<string></string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Lina Editor requires access to your documents folder to open and save user settings.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Lina Editor requires access to your desktop folder to open and save files.</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>LinaEditor</string>
	<key>CFBundleIconFile</key>
	<string>icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.inanevin.LinaEngine.LinaEditor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LinaEditor</string>
	<key>CFBundlePackageType</key>
	<string></string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>HelloWorld</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
